@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: dark --default;
}

[data-theme="dark"] {
  --color-primary: #34d399;
  --color-primary-content: #000;
  --color-base-100: #080810;
  --color-base-200: #0f0f1a;
  --color-base-300: #1a1a2e;
  --color-base-content: #f8fafc;
}